<%= link_to "Edit My Profile", edit_admin_path(id: current_user.id) %>
<h2>Instructor Actions</h2>
<div>
    <a href="/instructors/new">
        Create New Instructor
    </a>
</div>
<div>
    <a href="/instructors">
        View All Instructors
    </a>
</div>
<h2>Student Actions </h2>
<div>
    <a href="/students/new">
        Create New Student
    </a>
</div>
<div>
    <a href="/students">
        View All Students
    </a>
</div>
<div>
    <a href="/enrollments/new">
        Enroll Student in a Course
    </a>
</div>
<div>
    <a href="/enrollments">
        View All Enrollments
    </a>
</div>
<div>
    <a href="/waitlists">
        View All Waitlist Entries
    </a>
</div>
<h2>Course Actions</h2>
<div>
    <a href="/courses/new">
        Create New Course
    </a>
</div>
<div>
    <a href="/courses">
        View All Courses
    </a>
</div>
