<table border>
    <thead>
        <th>
            Student Name
        </th>
        <th>
            Student ID
        </th>
    </thead>
    <tbody>
        <% @enrolledStudents.each do |student| %>
            <tr>
                <td>
                    <%= student[:student].name %>
                </td>
                <td>
                    <%= student[:student].student_id %>
                </td>
                <td>
                    <%= button_to "Drop", enrollment_path(id: student[:enrollment].id), {method: :delete} %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>